PORT=4002
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=LeHung@79
DB_NAME=camera_app
JWT_ACCESS_SECRET=your-access-secret
JWT_REFRESH_SECRET=your-refresh-secret
CORS_ORIGIN=http://localhost:4002,http://192.168.0.112:3333
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
